<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/Sprint.css" />
    <script rel="stylesheet"type="text/javascript"src="../js/jQuery.js"></script>
    <script rel="stylesheet"type="text/javascript"src="../js/panier.js"></script>
    <title>KuroIntegration</title>
  </head>
  <body>
     <header id="Menu">
      <div >
        <a href="../Accueil/Index.html" id="Titre-M"><h1>Kuro</h1></a>
      </div>
      <div id="Sous-titre">
        <h4># ブラック ベリエ</h4>
      </div>
      <div id="Lien-M">
        <a href="../Accueil/sprint.html" class="Lien-menu1">Sprint</a>
        <a href="../Accueil/collection.html" class="Lien-menu1">Collection</a>
       <a href="../Accueil/capsule.html" class="Lien-menu1"><del>Capsule</del></a>
        <a href="../Accueil/Acessoire.html" class="Lien-menu1">Accessoire</a>
        <a href="../Accueil/Suggestion.html" class="Lien-menu1">Suggestion</a>
      </div>
      <div id="Img-M">
        <img src="../Image/zero_3.jpg" alt="" />
      </div>
      <div id="App-M">
        <a href="../Accueil/apropos.html" id="Lien-menu2">A propos</a>
      </div>
    </header>
    <!-- Debut de la nav -->
   <div id="nav">
        <p id="nav-H">Sprint</p>
        <div>
          <img src="../Image/enveloppe.png" alt="" id="nav-I" />
        </div>
      </div>
    </nav>
    <!-- !-- Pannier -->
    <div id="container-panier">
      <h1 id="panier-titre">Panier:</h1>
      <!-- <p id="panier-text">votre panier est vide</p> -->
       <section id="liste-produit">
          <div class="rangement-liste">
        <img src="../Image/collection/collection1.PNG" alt="" id="img" />
        <h6 class="ref">Bosuto</h6>
        <h6 class="ref">T-shirt</h6>
        <h6 class="ref">/</h6>
        <h6 class="ref">S</h6>
        <p class="ref">30.00 e</p>
      </div>
       <div class="rangement-liste">
        <img src="../Image/collection/collection1.PNG" alt="" id="img" />
        <h6 class="ref">Bosuto</h6>
        <h6 class="ref">T-shirt</h6>
        <h6 class="ref">/</h6>
        <h6 class="ref">S</h6>
        <p class="ref">30.00 e</p>
      </div>
       <div class="rangement-liste">
        <img src="../Image/collection/collection1.PNG" alt="" id="img" />
        <h6 class="ref">Bosuto</h6>
        <h6 class="ref">T-shirt</h6>
        <h6 class="ref">/</h6>
        <h6 class="ref">S</h6>
        <p class="ref">30.00 e</p>
      </div>
       <div class="rangement-liste">
        <img src="../Image/collection/collection1.PNG" alt="" id="img" />
        <h6 class="ref">Bosuto</h6>
        <h6 class="ref">T-shirt</h6>
        <h6 class="ref">/</h6>
        <h6 class="ref">S</h6>
        <p class="ref">30.00 e</p>
      </div>
       <div class="rangement-liste">
        <img src="../Image/collection/collection1.PNG" alt="" id="img" />
        <h6 class="ref">Bosuto</h6>
        <h6 class="ref">T-shirt</h6>
        <h6 class="ref">/</h6>
        <h6 class="ref">S</h6>
        <p class="ref">30.00 e</p>
      </div>
       <div class="rangement-liste">
        <img src="../Image/collection/collection1.PNG" alt="" id="img" />
        <h6 class="ref">Bosuto</h6>
        <h6 class="ref">T-shirt</h6>
        <h6 class="ref">/</h6>
        <h6 class="ref">S</h6>
        <p class="ref">30.00 e</p>
      </div>
       <div class="rangement-liste">
        <img src="../Image/collection/collection1.PNG" alt="" id="img" />
        <h6 class="ref">Bosuto</h6>
        <h6 class="ref">T-shirt</h6>
        <h6 class="ref">/</h6>
        <h6 class="ref">S</h6>
        <p class="ref">30.00 e</p>
      </div>
       <div class="rangement-liste">
        <img src="../Image/collection/collection1.PNG" alt="" id="img" />
        <h6 class="ref">Bosuto</h6>
        <h6 class="ref">T-shirt</h6>
        <h6 class="ref">/</h6>
        <h6 class="ref">S</h6>
        <p class="ref">30.00 e</p>
      </div>
       <div class="rangement-liste">
        <img src="../Image/collection/collection1.PNG" alt="" id="img" />
        <h6 class="ref">Bosuto</h6>
        <h6 class="ref">T-shirt</h6>
        <h6 class="ref">/</h6>
        <h6 class="ref">S</h6>
        <p class="ref">30.00 e</p>
      </div>
       <div class="rangement-liste">
        <img src="../Image/collection/collection1.PNG" alt="" id="img" />
        <h6 class="ref">Bosuto</h6>
        <h6 class="ref">T-shirt</h6>
        <h6 class="ref">/</h6>
        <h6 class="ref">S</h6>
        <p class="ref">30.00 e</p>
      </div>
       </section>
     <div id="div-bouton">
      <button
        type="button"
        class="bouton"
        onclick="window.location.href = './expedition.html';"
      >
        Procedure de payement
      </button>
    </div>
    </div>
<!-- Fin du panier -->
    <nav id="nav-B">
      <p id="dièse">K</p>
      <p class="nav-T-B">黒</p>
      <p class="nav-T-B">い</p>
      <p class="nav-T-B">ベ</p>
      <p class="nav-T-B">リ</p>
      <p class="nav-T-B">エ</p>
    </nav>
    <!-- Fin de la nav -->
    <section id="sprint-1">
      <a href="">
        <aside class="Sprint">
          <img
            src="../Image/textile1.jpg"alt=""class="image-1"/>
          <h4 class="sprint-text"> Date</h4>
        </aside>
      </a>
      <a href="">
        <aside class="Sprint">
          <img
            src="../Image/textile2.jpg"
            alt=""
            class="image-1"
          />
          <h4 class="sprint-text">Couleur</h4>
        </aside>
      </a>
      <a href="">
        <aside class="Sprint">
          <img src="../Image/textile3.jpg" alt="" class="image-1" />
          <h4 class="sprint-text"> Lettre</h4>
        </aside>
      </a>
      <a href="">
        <aside class="Sprint">
          <img
            src="../Image/textile4.jpg"
            alt=""
            class="image-1"
          />
          <h4 class="sprint-text">Prix</h4>
        </aside>
      </a>  
    </section>
    <!-- Formulaire -->
        <form action="" id="formulaire">
         
          <div class="Placement-f">
              <label for="Suggestion" id="Suggestion">Suggestion</label>
          </div>
          <div class="Placement-f">
            <input type="text" name="Suggestion" placeholder="Manga" class="style-f" >
          </div>
            <div class="Placement-f">
              <input type="text" name="Suggestion" placeholder="" class="style-f">
          </div>
          <div class="Placement-f">
              <input type="text" name="Suggestion" placeholder="Decription  " class="style-f">
          </div>
            <div  >
              <button  id="form-b">Valider</button >
            </div>
        </form> 
<!-- Contient les venetement -->
    <section id="content1">
      <div class="box" > 
        <a href="../Integration/test.html">
        <img src="../Image/collection/co.PNG" alt=""class="box-image">
        <p class="box-text">
          Le regard du singe
        </p>
        </a>
      </div>
      <div class="box" >
         <a href="../Integration/test.html">
        <img src="../Image/collection/collection2.PNG" alt=""class="box-image">
         <p class="box-text">
          Le regard du singe
        </p>
        </a>
      </div>
      <div class="box" >
         <a href="../Integration/test.html">
        <img src="../Image/collection/collection3.PNG" alt=""class="box-image"> 
        <p class="box-text">
          Le regard du singe
        </p>
        </a>
      </div>
      <div class="box" > 
         <a href="../Integration/test.html">
        <img src="../Image/collection/collection4.PNG" alt=""class="box-image">
        <p class="box-text">
          Le regard du singe
        </p>
        </a>
      </div>
        <div class="box" >
           <a href="../Integration/test.html">
          <img src="../Image/collection/collection5.PNG" alt=""class="box-image">
           <p class="box-text">
          Le regard du singe
        </p>
        </a>
      </div>
      <div class="box" > 
        <a href="../Integration/test.html">
        <img src="../Image/collection/co.PNG" alt=""class="box-image">
        <p class="box-text">
          Le regard du singe
        </p>
        </a>
      </div>
      <div class="box" >
        <a href="../Integration/test.html">
        <img src="../Image/collection/collection2.PNG" alt=""class="box-image">
         <p class="box-text">
          Le regard du singe
        </p>
        </a>
      </div>
      <div class="box" >
        <a href="../Integration/test.html">
        <img src="../Image/collection/collection3.PNG" alt=""class="box-image"> 
        <p class="box-text">
          Le regard du singe
        </p>
        </a>
      </div>
      <div class="box" > 
        <img src="../Image/collection/collection4.PNG" alt=""class="box-image">
        <p class="box-text">
          Le regard du singe
        </p>
      </div>
        <div class="box" >
          <a href="../Integration/test.html">
          <img src="../Image/collection/collection5.PNG" alt=""class="box-image">
           <p class="box-text">
          Le regard du singe
        </p>
        </a>
      </div>
      <div class="box" > 
        <img src="../Image/collection/co.PNG" alt=""class="box-image">
        <p class="box-text">
          Le regard du singe
        </p>
      </div>
      <div class="box" >
         <a href="../Integration/test.html">
        <img src="../Image/collection/collection2.PNG" alt=""class="box-image">
         <p class="box-text">
          Le regard du singe
        </p>
        </a>
      </div>
      <div class="box" >
        <a href="../Integration/test.html">
        <img src="../Image/collection/collection3.PNG" alt=""class="box-image"> 
        <p class="box-text">
          Le regard du singe
        </p>
        </a>
      </div>
      <div class="box" > 
        <img src="../Image/collection/collection4.PNG" alt=""class="box-image">
        <p class="box-text">
          Le regard du singe
        </p>
      </div>
        <div class="box" >
            <a href="../Integration/test.html">
          <img src="../Image/collection/collection5.PNG" alt=""class="box-image">
           <p class="box-text">
          Le regard du singe
        </p>
      </div>
      <div class="box" > 
        </a>
        <img src="../Image/collection/co.PNG" alt=""class="box-image">
        <p class="box-text">
          Le regard du singe
        </p>
      </div>
      <div class="box" >
        <img src="../Image/collection/collection2.PNG" alt=""class="box-image">
         <p class="box-text">
          Le regard du singe
        </p>
      </div>
      <div class="box" >
        <img src="../Image/collection/collection3.PNG" alt=""class="box-image"> 
        <p class="box-text">
          Le regard du singe
        </p>
      </div>
      <div class="box" > 
        <img src="../Image/collection/collection4.PNG" alt=""class="box-image">
        <p class="box-text">
          Le regard du singe
        </p>
      </div>
        <div class="box" >
          <img src="../Image/collection/collection5.PNG" alt=""class="box-image">
           <p class="box-text">
          Le regard du singe
        </p>
      </div>
      <div class="box" >
          <img src="../Image/collection/collection5.PNG" alt=""class="box-image">
           <p class="box-text">
          Le regard du singe
        </p>
      </div>
    </section>

   
  </body>
</html>
